body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
}

h1 {
    color: white;
}

#result {
    background-color: aqua;
}

#entry {
    background-color: lightcoral;
}

#entry p,
#result h2 {
    margin-top: 1rem;
}

.entry-block {
    margin-bottom: 1rem;
}

#userNumber {
    text-align: center;
}

input[type="number"],
input[type="text"] {
    display: block;
    clear: both;
}

.btn {
    display: block;
    clear: both;
}

.advanced {
    display: none;
}